body {
  padding: 50px;
}

h1 {
    font-size:32pt;text-shadow: 1px 1px 2px #0000ff;
    color: #c0c000;
    border-style: none none none none;
}

.text {
    font-family: monospace;
}

.hbox {
    display:box;
    display:-webkit-box;
    display:-moz-box;
    box-orient:horizontal;
}

textarea {
    tab-size:4;
}

h2 {
    text-shadow: 1px 1px 1px #0000ff;
    color: #c0c000;
    border-style: none none solid;
}

.tiny {
    font-size:8pt;
}
.small {
    font-size:12pt;
}

.tinybox {
    padding:1px 1px;
    border-style: inset;
    background: #e0e0e0;
}

.box {
    font-size:14pt;
    padding:10px 10px;
    border-style: inset;
    background: #e0e0e0;
}
.box2 {
    font-size:8pt;
    padding:2px 2px;
    border-style: inset;
    background: #e0e0e0;
}

.hbox {
    display:box;
    box-orient:horizontal;
}
.dinline {
    display:inline;
}

.monospace {
    font-family: monospace;
}

.boxbox {
    width: 400px;
    height:200px;
    margin: 0 0;
    overflow-y: auto;
    border: 1px solid #0f0;
    padding: 2px;
    text-align: justify;
    background: transparent;
}

#loginbutton {
    width:400px;
}

#error_message {
    border-style: solid;
    color : #ff0000;
    width:520px;
    padding:10px;
}

#loginbox {
    border-style: solid;
    width:530px;
}

#logout {
    font-size:10pt;
}

.form-signin {
 max-width: 330px;
 padding: 15px;
 margin: 0 auto;
 }

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right:0;
  padding-left:0;
  font-size:16px;
  font-weight:bold;
  color: #000;
  color: rgba(0,0,0,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a.focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(0,0,0,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #000;
  border-bottom-color:#000;
}

@media ( min-width:768px ) {
  .masthead-brand{ 
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}
.menu {
  max-width:330px;
}

.menu-wide {
  max-width:630px;
}
